extends layout.pug

block content
  div.container.fluid
    h1 Books  
    p
      form(action="/books/search", method="GET")
        input(placeholder="Search for a book...", type="text", name="search")
        input(type="submit", value="Search, id="searchButton")
    
