extends layout.pug

block content
  div.container.fluid
    h1 Books  
    p
      form(action="/books/search", method="GET")
        input(placeholder="Search for a book...", type="text", name="search")
        input(type="submit", value="Search")
    p
      a(class="button" href="/books/new") Create New Book

    table
      thead 
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in books
          tr
            td
              a(href = "/books/" + book.id)=book.title
            td= book.author
            td= book.genre
            td= book.year
  div.paginationDiv



    
